.App {
    min-height: 100vh;
    display: flex;
    background-image: url("./back.jfif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}